
@use '../variables'

@use '../mixins'

.find-me
    display: flex
    flex-wrap: wrap
    margin: auto
    background-color: va(--bg)
    //background-color: #1362CA


    .titulo
        font-weight: 100
        margin: auto
        margin-top: 100px    
        display: inline
        text-align: center
        color: var(--text)
        
        p
            font-size: 1.1rem
            color: #036cf5
            font-weight: 300
            margin-bottom: 10px

        h3
            font-size: 1.5rem
            margin-bottom: 20px

    .find-me-container
        margin: auto
        display: flex
        flex-wrap: wrap
        width: 100%
      
        .area-contato
            display: flex
            width: 100%
            margin-bottom: 100px
            flex-wrap: wrap
        
            .contato
                width: 40%
                margin: auto
                .social
                    margin: auto
                    margin-top: 10px


            .areaformContato
                width: 40%
                display: block
                border: 1px solid red
                padding: 10px


                .formContato
                    background-color: var(--bgSecondary)
                    padding: 20px
                    width: 80%
                    margin: auto
                    border-radius: 10px

                    div
                        display: grid
                        margin-bottom: 20px

                        label
                            margin-bottom: 5px
                            font-weight: 500
                            color: var(--textSecondary)


                        input, textarea
                            padding: 10px
                            border-radius: 5px
                            background: none
                            border: 1px solid var(--border)
                            transition-duration: .2s
    
                    
                    button
                        padding: 10px
                        border-radius: 5px
                        border: none
                        cursor: pointer
                        font-weight: 600
                        width: 100%

                    

           
        
        
        #information
            display: flex
            width: 100%
            align-items: center 
            justify-content: center 
            flex-wrap: wrap
            margin: auto
            margin-top: 50px
           
            .info-card
                display: flex
                align-items: center 
                justify-content: center
                align-content: center
                margin: auto
                font-size: 15pt
                text-align: center
                padding: 5px
                color: var(--text)
                gap: 8px 

                p
                    margin: 0             
                    line-height: 1 


                svg
                    display: block          
                    font-size: 20px           
                    width: 1.2em              
                    height: 1.2em

       
@media (max-width: 768px)
    .area-flutuante
        width: 85% !important
    .find-me
        height: 520px
    

@media (max-width: 584px)
    .area-contato
        margin-top: 50px !important
    .info-card
        font-size: 12pt !important
    

a
    text-decoration: none


.area-btn-whatsapp
    display: flex
    justify-content: center
    margin-top: 20px

.btn-whatsapp
    background-color:  #25D366
    width: 250px
    display: inline-flex
    flex-direction: row
    justify-content: center
    align-self: center
    padding: 10px 0px 10px 0px
    border-radius: 10px

    &:hover
        background-color: #089e3f

    p
        color: #FFFFFF
        margin-top: 5px
        margin-left: 10px


.icone_whatsapp
    font-size: 30px
    cursor: pointer
    color: #FFFFFF

 