
@use '../variables'

@use '../mixins'

.find-me
    width: 100%
    background: variables.$bg-color-secondary

    .find-me-container
        width: 80%
        margin: auto
        margin-top: 10rem
        margin-bottom: 2rem
        color:  variables.$text-color-secondary

    

      