@use '../variables'
@use '../mixins'

#information
    @include mixins.center
    padding: 1rem
    margin-top: 2rem
    margin-bottom: 2rem
    text-align: left
    border-radius: variables.$card-border-radius
    display: flex
    flex-direction: inherit !important
    flex-wrap: wrap
    
    .info-card
        @include mixins.center
        gap: 1rem
        padding-bottom:  .8rem
        margin-bottom: .8rem


        h3
            color: variables.$text-color
            font-size: 1rem
            margin-bottom: .5rem
            text-align: center
        
        p
            color: variables.$text-color
            font-weight: bold
            font-size: 1.3rem
            margin-top: 0 !important

        svg
            background-color: variables.$bg-color-secondary
            padding: .4rem
            width: 2rem
            height: 2rem
            border-radius: 5px
            color: variables.$text-color


    