@use '../variables'
@use '../mixins'

#information
    @include mixins.center
    padding: 1rem
    margin-top: 2rem
    margin-bottom: 2rem
    text-align: left
    border-radius: variables.$card-border-radius
    display: flex
    flex-direction: inherit !important
    flex-wrap: wrap
    
    .info-card
        display: block
        text-align: center
        margin-left: 50px
        gap: 3rem
        padding-bottom:  .8rem
        margin-bottom: .8rem


        h3
           
            font-size: 1rem
            margin-bottom: .5rem
            text-align: center
        
        p
            font-weight: bold
            font-size: 1.3rem
            margin-top: 0 !important

        svg
            padding: .4rem
            width: 2rem
            height: 2rem
            border-radius: 5px


    