@use '../variables'
@use '../mixins'

#main-content
    background-color: variables.$bg-color
    flex: 2 1 0 // duas veze maior que o sidebar...
    padding: 3rem

    section
        display: flex
        flex-direction: column

    h2
        color: variables.$text-color
        font-size: 2.2rem
        margin-bottom: 1.3rem
        justify-content: start
        gap: 1rem
        text-align: center

        &:after
           @include mixins.gradient-border
    
    p
        color: variables.$text-color-secondary
        margin-bottom: 1rem
        line-height: 1.4rem
        text-align: center
    

    .btn
        @include mixins.btn
        align-self: start
         
