.menu
  position: fixed
  top: 20px
  left: 50%
  transform: translateX(-50%)
  display: flex
  justify-content: center
  min-width: 200px
  max-width: 600px
  text-align: center
  padding: 15px
  background-color: var(--bg)
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1)
  z-index: 1000
  color: var(--text)
  border-radius: 50px
  border: 1px solid #2078fd54

  .menu-icon
    display: flex
    align-items: center
    width: 90%
    margin: auto

  .menu-left
    font-weight: bold
    margin-right: auto

  .menu-right
    display: flex
    flex: 1
    justify-content: center
    gap: 25px
    list-style: none
    margin: 0
    padding: 0

    button
      cursor: pointer
      font-size: 12pt
      background-color: var(--bg)
      color: var(--text)
      border: none
      &:hover
        color: #097FD9

      a
        text-decoration: none
        color: #FFFFFF

  
  .menu-overlay
    display: none
    position: fixed
    inset: 0
    background: rgba(0, 0, 0, 0.45)
    z-index: 998

  /* Remove scroll do body quando o menu aberto */
  :global(.no-scroll)
    overflow: hidden

/* RESPONSIVE */
@media (max-width: 576px)
  .menu
    padding: 10px

    .menu-right
      button
        font-size: 14px


/* outros breakpoints que você já tinha */
@media (max-width: 1140px)
  .menu-right
    li
      font-size: 10pt

