@use '../variables'
@use '../mixins'
    
.projects-container
    width: 100%
    background: variables.$bg-color


    .projects
        width: 80%
        margin: auto
        margin-top: 10rem
        margin-bottom: 10rem

    .projects-container-title
        color: variables.$highlighted-text-color

        p
            margin-top: 1rem
            margin-bottom: 1rem
            font-size: 1.5rem
            color: variables.$text-color


    .projects-grid
        display: flex
        flex-wrap: wrap

        .project-card
            border-radius: variables.$card-border-radius
            width: 26rem
            height: auto
            max-width: 500px
            padding: 2rem
            margin: auto
            margin-bottom: 2rem
            margin-top: 2rem
            box-shadow: rgba(0, 0, 0, 1) 0px 6px 20px -6px
            text-align: center

            .title-card
                display: flex
                align-items: center

                p
                    font-weight: bold
                    margin-top: 0
                
          
            svg
                font-size: 2em
                color: variables.$text-color
            
            img
                max-width: 60%
                max-height: 400px
                display: flex
                justify-content: center
                align-items: center
                border-radius: variables.$card-border-radius
            
            h3  
                text-align: center
                font-size: 1.5rem
                color: variables.$text-color

            p
                color: variables.$text-color
                line-height: 2rem
                font-size: 1rem
                text-align: justify
                margin-left: 10px
                margin-top: 20px
                

            a
                display: inline-flex
                bottom: 0
                color: variables.$text-color
                background: variables.$bg-color
                font-size: 0.8em
                padding: 0.5em 2em
                justify-content: space-between
                align-items: center
                text-decoration: none
                cursor: pointer
                margin-top: 20px

                svg
                    color: #0068d1 !important
                    margin-right: 0.5em
            
            a:hover
                background: variables.$bg-color-hover

               
             

        #prontuario

            svg
                color: #1d6edf !important
              
        
        #todo
            svg
                color: #cd2424
        
        #diploma
            svg
                color: #8210bc

        #orcamento
            svg
                color: #c4d80e
                

