
.project-detail
    display: flex
    width: 100%
    height: auto
    background-color: #FAFAFA

    

.container-details
    width: 100%
    margin: auto
    margin-top: 100px
    max-width: 1200px
    background-color: #FAFAFA

    .details
        width: 90%
        margin: auto
        background-color: #fafafa
        margin-bottom: 100px
        
    .topo
        width: 100%
        margin: auto
        display: flex
        padding: 20px
        justify-content: center
        align-items: center
        flex-wrap: wrap
       

        .topo-textos
            width: 50%
            display: flex
            flex-direction: column
            text-align: left

            h1
                color: #242424!important
                font-size: 2.5em !important 
                margin-bottom: 0px !important
            p
                color: #242424 !important
                line-height: 2
                font-size: 1.1em
                margin-top: 20px
                line-height: 40px

            .web
                width: 100px
                padding: 2px 30px 2px 30px
                background-color: #eef2ff
                border-radius: 15px
                margin-top: 20px
                color: #4f46e5
                margin-bottom: 20px
                font-weight: 500
            
            .app
                width: 100px
                padding: 2px 30px 2px 30px
                background-color: #eef2ff
                border-radius: 15px
                margin-top: 20px
                margin-bottom: 20px
                color: #1383af
                font-weight: 500


    .imagem-capa
        width: 500px
        //min-width: 350px
        background-color: #ffffff
        margin: auto
        border-radius: 20px
        margin-top: 20px
        margin-bottom: 20px

        img
            width: 100%
            margin: auto
    
    #conecta-imagem-topo, #divisao-imagem-topo
        width: 250px 
        

    .corpo
        width: 100%
        display: inline-block
        
        .imagem
            width: 45%
            min-width: 350px
            background-color: #ffffff
            border-radius: 10px
            margin: auto
            display: flex
            justify-content: center
            flex-wrap: wrap
            text-align: center
            padding: 10px
            margin-top: 100px
            border: #dddddd solid 1px
            
            img
                width: 100%
                margin: auto
                

        .area-texto
            width: 100%
            min-width: 300px
            margin: auto

            .texto
                font-size: 1.2em
                color: #242424!important
                line-height: 2em
                font-weight: 450
                 margin-top: 60px


                .titulo
                    font-size: 1.4em
                    font-weight: 700
                    color: #242424!important
                    
                .descricao
                    margin-top: 20px

                .section-images
                    width: 100%
                    margin: auto
                    text-align: center
                    margin-top: 25px
                    margin-bottom: 25px

                    img     
                        width: 250px
            
    

                .lista
                    display: flex
                    flex-wrap: wrap
                    justify-content: space-between

                    .topico
                        border-radius: 10px
                        margin-top: 20px
                        font-weight: 500
                        padding: 20px
                        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px
                
                    span
                        color: #1362CA

           
             
                        
@media (max-width: 688px)
    .container-details
        .details
            margin-top:15rem


    