@use '../variables'
@use '../mixins'
    
.projects-container
    width: 100%
    background: variables.$bg-color


    .projects
        width: 80%
        margin: auto
        margin-top: 10rem
        margin-bottom: 10rem

    .projects-container-title
        color: variables.$highlighted-text-color

        p
            margin-top: 1rem
            margin-bottom: 1rem
            font-size: 1.5rem
            color: variables.$text-color


    .projects-grid
        display: flex
        flex-wrap: wrap

        a
            text-decoration: none
            cursor: pointer !important
            margin: auto

        .project-card
            border-radius: variables.$card-border-radius
            width: 20rem
            height: auto
            min-height: 350px
            max-width: 500px
            padding: 1rem
            margin-bottom: 2rem
            margin-top: 2rem
            background: variables.$modal-color
            box-shadow: rgba(0, 0, 0, 1) 0px 6px 20px -6px
            text-align: center

            &:hover
                background-color: red !important
                


            .type-card
                p
                    font-size: 10pt
                    text-align: left
                    color: variables.$highlighted-text-color
                    text-transform: uppercase

            .title-card
                align-items: center
                text-align: left
                p
                    margin-top: 0

                p:hover
                    color: variables.$highlighted-text-color
                    
            .project-icon
                svg
                    font-size: 2.5em
          
            svg
                color: variables.$text-color
            
            img
                max-width: 90%
                max-height: 400px
                justify-content: center
                align-items: center
                -moz-transition: all 0.5s
                -webkit-transition: all 0.5s
                transition: all 0.5s
            
            img:hover
                -moz-transform: scale(1.2)
                -webkit-transform: scale(1.2)
                transform: scale(1.2)
                    
            
            h3  
                text-align: center
                font-size: 1.5rem
                color: variables.$text-color

            p
                color: variables.$text-color-cards
                line-height: 2rem
                font-size: 1.5rem
                margin-left: 10px
                margin-top: 20px
                

                svg
                    color: #0068d1 !important
                    margin-right: 0.5em
            
            a:hover
                background: variables.$bg-color-hover



        .project-icon
            #prontuario
                overflow: hidden
                background-color: #FFFFFF
                border-radius: variables.$card-border-radius   

            #todo
                overflow: hidden
                background-color:#0D0D0E
                border-radius: variables.$card-border-radius   
            
            #orcamento
                overflow: hidden
                border-radius: variables.$card-border-radius  

            #diploma
                overflow: hidden
                background-color: #FFFFFF
                border-radius: variables.$card-border-radius  
             

        #prontuario
            svg
                color: #1d6edf !important
        
       
        
        #todo
            svg
                color: #cd2424
        
        #diploma
            svg
                color: #8210bc

        #orcamento
            svg
                color: #c4d80e
                

