
.project-detail
    width: 100%
    height: auto
    background-color: #FFFFFF
    position: relative
    

.container-details
    width: 100%
    margin: auto
    background-color: #ffffff
    display: inline-flex
    margin-bottom: 500px

    .details
        width: 100%
        margin: auto
        margin-top: 100px
        background-color: #fafafa
    
    .linha
        width: 100%
        border-bottom: #dddddd solid 1px
    .topo
        width: 80%
        margin: auto
        display: flex
        padding: 20px
        justify-content: center
        flex-wrap: wrap
        align-items: center
       
        

        .topo-textos
            width: 40%
            min-width: 300px
            
            h1
                color: #484E53 !important
                font-size: 2.5em !important 

            hr
                margin-top: -45px
                color: #484e538e

            p
                color: #484E53
                line-height: 2
                margin-top: 10px

        .topo-imagem
            width: 40%
            min-width: 350px
            background-color: #ffffff
            border-radius: 10px
            margin: auto
            text-align: center
            padding: 10px
            
            img
                width: 100%
                margin: auto

            #imagem-app
                width: 60%
    
    .corpo
        background-color: #ffffff
        width: 100%
        display: inline-block
        
        .imagem
            width: 45%
            min-width: 350px
            background-color: #ffffff
            border-radius: 10px
            margin: auto
            display: flex
            justify-content: center
            flex-wrap: wrap
            text-align: center
            padding: 10px
            margin-top: 100px
            border: #dddddd solid 1px
            
            img
                width: 100%
                margin: auto

            #imagem-app-cadastro
                width: 30%
                min-width: 250px
                

        .area-texto
            width: 50%
            min-width: 300px
            margin: auto
            margin-top: 80px

            .texto
                font-size: 1.2em
                color: #484e538e
                line-height: 2em

                .titulo
                    font-size: 1.5em
                    font-weight: 600
            
            #desenvolvimento,  #resultados, #aprendizados
                margin-top: 50px

                .lista
                    margin-left: 80px
                    margin-top: 20px
                    .topico
                        margin-top: 20px
                        font-weight: 600

           
             
                        
@media (max-width: 688px)
    .container-details
        .details
            margin-top:15rem


    