@use '../variables'
@use '../mixins'


#social-networks
    display: flex
    justify-content: space-between
    margin: auto
    align-content: center
    align-items: center
    

    .social-btn
        padding: 10px
        display: flex
        justify-content: center
        align-items: center
        border-radius: 999px
        color: #fff
        font-size: 19pt


    #linkedin:hover 
        background-color: #0072b1
        color: variables.$text-color
        border: 0px solid

    #github:hover 
        background-color: #502779
        color: variables.$text-color
        border: 0px solid

    #instagram:hover 
        background-color: #bc2a8D
        color: variables.$text-color
        border: 0px solid

    #whatsapp:hover 
        background-color: #3DC44F
        color: variables.$text-color
        border: 0px solid
    