@use '../variables'
@use '../mixins'
    
.technologies-container
    display: flex
    flex-wrap: wrap
    width: 100%
    margin: auto
    background: variables.$bg-color-secondary
   

    h4
        font-weight: 600

    .titulo
        font-weight: 100
        margin: auto
        margin-top: 100px    
        display: inline
        width: 70%
        text-align: center
        color: variables.$highlighted-text-color

        span
            font-weight: 800


        hr
            border: 2px solid variables.$text-color-secondary
            width: 150px
            margin: auto
       
        h3
            font-size: 2rem
            

        p
            text-align: center

    .sobre
        display: inline
        margin: auto
        margin-top: 150px
        width: 40%
        color: variables.$text-color-secondary

        @media (max-width: 950px)
            width: 80%
       

    .technologies
        width: 90%
        margin: auto
        margin-top: 50px
        margin-bottom: 10rem
        max-width: 1200px
        min-width: 300px
        color: variables.$text-color-secondary
        user-select: none

        @media (max-width: 950px)
            width: 80%

    

    .technologies-grid
        display: flex
        gap: 1rem
        flex-wrap: wrap
        justify-content: center
        

        .technology-card
            @include mixins.center
            padding: 1rem 1rem
            font-size: 0.8rem
            box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px
            border-radius: 5px
            font-weight: 600
            color: #666
            display: inline-block
            text-align: center
            width: 10%
            max-width: 400px
            min-width: 150px

            &:hover
                box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2)


            h3
                color: variables.$text-color

            .card-icone
                border: 1px solide red
                width: 100%
                padding: 20px

                img
                    width: 80%
