@use '../variables'
@use '../mixins'
    
.technologies-container
    display: flex
    flex-wrap: wrap
    width: 100%
    margin: auto
    background: variables.$bg-color-secondary

    h4
        font-weight: 600

    .titulo
        margin: auto
        margin-top: 100px    
        display: inline
        width: 70%
        text-align: center
        color: variables.$highlighted-text-color

        hr
            border: 2px solid variables.$text-color-secondary
            width: 150px
            margin: auto
       
        h3
            font-size: 2rem
            font-weight: 700

        p
            text-align: center

    .sobre
        display: inline
        margin: auto
        margin-top: 150px
        width: 40rem
        color: variables.$text-color-secondary
       

    .technologies
        width: 30rem
        margin: auto
        margin-top: 150px
        margin-bottom: 10rem
        color: variables.$text-color-secondary

    .technologies-grid-desc-title
        width: 80%
    
    p
        color: variables.$text-color-secondary
        margin-bottom: 1rem
        line-height: 2rem
        font-size: 1.1rem
        text-align: left

    .technologies-grid
        display: flex
        flex-wrap: wrap
        gap: 1rem
       


    .technology-card
        @include mixins.center
        padding: 1rem 1rem
        font-size: 0.9rem
        background: rgba(153,153,153,0.2)
        border-radius: 5px
        font-weight: 600
        color: #666


        h3
            color: variables.$text-color

        svg
            font-size: 5rem

    #html
        svg
            color: #E44D26

    #css
        svg
            color: #1572B6

    #js
        svg
            color: #F0DB4F

    #node
        svg
            color: #83CD29

    #mysql
        svg
            color: #00618A

    #react
        svg
            color: #61DAFB
    
    #php
        svg
            color: #4F5B93
    
    #sql
        svg
            color: #EE2D26