.btnThemeToggle
    display: flex
    align-items: center
    justify-content: center
    width: 75px
    height: 30px
    border-radius: 50%
    border: none
    background-color: var(--iconeTheme)
    cursor: pointer
    margin-left: 10px