@use '../variables'
@use '../mixins'

.what-container
    display: flex
    background-color: var(--bgSecondary)
    

    .area-what-container
        width: 90%
        margin: auto
        flex-wrap: wrap
        gap: 40px
        margin-bottom: 100px

    .container-titulo
        padding: 10px
        margin-top: 150px
        text-align: center

    
    .titulo
        font-weight: 100
        color: var(--text)
        
    h3
        font-size: 2.1rem
    p
        font-size: 1rem
        margin-top: 10px
        font-weight: 300
        color: var(--text)

.area-coisas
    display: grid
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr))
    gap: 20px
    margin-top: 40px

    .coisas
        display: flex
        flex-direction: column
        padding: 20px
        border-radius: 20px
        user-select: none
        background-color: var(--bg)


        &:hover
            box-shadow: var(--bg) 0px 2px 8px 0px
            border: 0.5px solid #2078fd

            
    
        .coisas-icone-texto
            display: flex
            align-items: center
            gap: 15px
            

        .icone
            display: flex
            justify-items: center
            padding: 10px
            border-radius: 5px
            justify-content: center
            align-items: center
            
            svg
                font-size: 1.5em

        .titulo-coisas
            display: inline-flex
            bottom: 0
            font-weight: 600
            font-size: 1.1em
            color: var(--text)
            margin-top: 15px

   

    
    


@media (max-width: 400px)
    .what-container
        .titulo
            width: 90%

            h3
                font-size: 1.5rem
            p
                font-size: 1rem
                margin-top: 20px
    
    .area-coisas
        width: 100%
            