@use '../variables'
@use '../mixins'

.what-container
    display: flex
    flex-wrap: wrap
    margin: auto
    background: #fafafa


    .container-titulo
        background: #1362CA
        display: flex
        flex-wrap: wrap
        width: 100%
        margin: auto
        height: 500px
    

.titulo
    font-weight: 100
    margin: auto
    margin-top: 90px    
    display: inline
    width: 70%
    text-align: center
    color: #FFFFFF
    //color: variables.$highlighted-text-color

    h3
        font-size: 2.2rem
    p
        font-size: 1.4rem
        margin-top: 20px
        font-weight: 300
        color: #d7d6d6

.area-coisas
    //background-color: #FFFFFF
    padding: 20px
    border-radius: 10px
    width: 80%
    margin: auto
    margin-top: -220px
    margin-bottom: 150px
    display: flex
    align-content: center
    align-items: center
    flex-wrap: wrap
    justify-content: space-between
    //box-shadow: 0 5px 5px 0 rgba(233, 240, 243, 0.5), 0 0 0 1px #E6ECF8

    .coisas
        width: 30%
        margin: auto
        margin-top: 30px
        margin-bottom: 10px
        max-width: 600px
        min-width: 300px
        padding: 40px
        min-height: 350px
        height: auto
        border-radius: 10px
        border: 1px solid #E6ECF8
        //box-shadow: #E6ECF8 0px 2px 8px 0px
        user-select: none
        background-color: #fafafa 

        &:hover
            box-shadow: #E6ECF8 0px 2px 8px 0px
            
        .icone
            display: inline-flex
            padding: 5px
            border-radius: 5px
            margin-bottom: 10px
            svg
                font-size: 1.5em

        .textos
            width: 100%
            .titulo
                font-size: 1.1em
                color: #484E53
                font-weight: 600

            .descricao
                font-size: 1em
                margin-top: 10px
                line-height: 2
                color: #484E53
                text-align: justify

    #desenvolvimento-web
        .icone
            background-color: #1362CA
            color: #FFFFFF

    #ui
        .icone
            background-color: #C92E2E
            color: #FFFFFF

    #mobile
        .icone
            background-color: #01A93A
            color: #FFFFFF

    #integracao
        .icone
            background-color: #FCD803
            color: #FFFFFF

    #data
        .icone
            background-color: #800080
            color: #FFFFFF

    #consultoria
        .icone
            background-color: #895129
            color: #FFFFFF

    


