:root
  --bg: #ffffff
  --bgSecondary: #F1F5F9
  --text: #1a1a1a
  --textSecondary: #1a1a1aa7
  --primary: #2563eb
  --iconeTheme: #fcd7032a


[data-theme="dark"]
  --bg: #020617
  --bgSecondary: #0F172A
  --text: #f1f5f9
  --textSecondary: #ffffffd1
  --primary: #3b82f6
  --iconeTheme: #1ca3be3d