$font: 'Helvetica'
$text-color: #fff
$text-color-secondary: #104466
$text-color-cards: #c4cfde
$text-calor-card-secondary: #878e99
$body-bg-color:linear-gradient(to right top, #175ec7, #0b57b4, #0650a0, #07488d, #0c417a)
$bg-color: #111111eb
$bg-color-hover: #242424eb
$bg-color-secondary:#ffffff
$container-border-radius: 10px
$card-border-radius: 5px
$gradient: #FFF
$gradiente-lgbt: linear-gradient(to right, rgb(237, 34, 36), rgb(243, 91, 34), rgb(249, 150, 33), rgb(245, 193, 30), rgb(241, 235, 27) 27%, rgb(241, 235, 27), rgb(241, 235, 27) 33%, rgb(99, 199, 32), rgb(12, 155, 73), rgb(33, 135, 141), rgb(57, 84, 165), rgb(97, 55, 155), rgb(147, 40, 142))
$highlighted-text-color: #2290d9
$modal-color: linear-gradient(145deg,#1e2024,#23272b)
$modal-fundo: #212428
$modal-shadow: 10px 10px 19px #1c1e22,-10px -10px 19px #262a2e